/* PC monitors*/
@media only screen and (max-width: 2880px) {
    .mobile__nav__icon { display: none; }

}

/* Big tablets to 1200px: widths smaller than the 1140px row*/
@media only screen and (max-width: 1200px) {
    .mobile__nav__icon { display: none; }
}

/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .mobile__nav__icon { display: none;}
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

    .main__nav { -webkit-box-align: unset; -ms-flex-align: unset; align-items: unset;}

    .main__nav__items {
        visibility: hidden;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 2.2rem;
        padding-right: 0.1rem;
    }

    .main__nav__items li {
        font-size: 85%;
        padding-bottom: 0.4rem;
        width: 100%;
        margin-left: 0;
    }

    .main__nav__logo {
        -webkit-box-flex: 0.90;
            -ms-flex: 0.90;
                flex: 0.90;
        display: block;
    }

    .main__nav__logo img {
        width: 160px;
    }

    .mobile__nav__icon {
        display: block;
        font-size: 160%;
        margin-top: 2rem;
    }

    .mobile__nav__icon i {
        z-index: 1;
    }

}

/* Small phones: from 360 to 480px */
@media only screen and (max-width: 480px) {

}

/* Small phones: from 0 to 360px */
@media only screen and (max-width: 360px) {
    .main__nav__items li {
        font-size: 75%;
    }
}