/*****
    SIGNUP CONTAINER
*****/

.signup__container {
    text-align: center;
    background: #fff;
    width: 15%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    margin-top: 70px
}

.signup__container__header {
    display: flex;
    align-items: center;
    background: #e71515ce;
    color: #fff;
    cursor: pointer;
}

.signup__container__header p {
    flex: 0.95;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-align: left;
}

.signup__container i {
	font-size: 160%;
}

.signup__container__body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup__container__body p {
    font-size: 80%;
    padding: 10px 0;
    width: 80%;
}

.signup__container__body__Form {
	display: flex;
	flex-direction: column;
}

.signup_container_form_item {
    display: flex;
    align-items: center;
    font-size: 80%;
}

.signup_container_form_item i {
    padding: 0 5px;
}

.signup_container_form_item:nth-child(2) i {
    font-size: 110%;
}

.signup_container_form_item input {
    padding-left: 3px;
    cursor: pointer;
}

.signup__container__body__form__terms {
    display: flex;
    align-items: center;
    padding-left: 17px;
}

.signup__container__submit__btn {
	width: 100%;
	display: flex;
	background: #f1c40f;
	border-radius: 5px;
    padding-left: 55px;
    color: #fff;
    transition: color 0.4s;
}

.signup__container__submit__btn:hover {
    color: #000;
    cursor: pointer;
}

.signup__container__body__footer {
    font-size: 75%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup__container__body__footer::before {
    content: '';
    border-bottom: 2px solid aquamarine;
    width: 50%;
    margin-bottom: 15px;
}

.signup__container__footer__items {
    display: flex;
    align-items: center;
    width: 100%;
}

.signup__container__footer__items {
	display: flex;
	align-items: center;
	width: 100%;
}

.signup__container__footer__items div {
    flex: 0.5;
    background: #c0392b;
    height: auto;
    padding-bottom: 5px;
    align-items: center;
    border-radius: 2px;
    margin: 5px 15px;
}

.signup__container__footer__items div i {
    padding-right: 3px;
    color: #fff;
    font-size: 120%;
}

.signup__container__footer__items div button {
    border: none;
    background: #c0392b;
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 3px;
}

.signup__container__footer__items div:nth-child(2),
.signup__container__footer__items div:nth-child(2) button {
    background: #2980b9;
}
