@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500|Varela+Round&display=swap&subset=hebrew');

/*-----------------------------------------------/
/ GENERAL
/----------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    background-color: #fff;
    color: #555;
    font-family: 'Rajdhani', sans-serif, Arial;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

section {
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
}

.section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #180404;
}

.section__title i {
    font-size: 180%;
}

h1 {
    font-size: 200%;
    word-spacing: 1px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}


h2:after {
    display: block;
    background-color: #e74c3c;
    height: 2px;
    content: " ";
    width: 150px;
    margin: 10px auto;
}

p {
    font-size: 100%;
    font-weight: 300;
    padding: 5px 10px;
    color: #180404;
}

a {
    text-decoration: none;
}

/*-----------------------------------------------/
/ HEADER COMPONENTS - MAIN PAGE, SIGNUP PAGE
/----------------------------------------------*/

.main__nav__items,
.signup__nav__items {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}

.main__nav__items li,
.signup__nav__items li {
    font-size: 95%;
    text-transform: uppercase;
}

.main__nav__items li:last-child,
.signup__nav__items li:last-child {
    margin-right: 40px;
}

.main__nav__items li a:link,
.main__nav__items li a:visited,
.signup__nav__items li a:link,
.signup__nav__items li a:visited {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}

.main__nav__items li a:hover,
.main__nav__items li a:active,
.signup__nav__items li a:hover,
.signup__nav__items li a:active {
    border-bottom: 2px solid #e74c3c;
}