/***
* MAIN PAGE CSS ELEMENTS
*/

/*-----------------------------------------------/
/ HEADER COMPONENTS
/----------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.767)), url('../img/back-2.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}

/* Nav bar components */

.main__nav {
    display: flex;
    align-items: center;
}

.main__nav__logo {
    display: flex;
    align-items: center;
    flex: 1;
}

.main__nav__logo img {
    padding: 0 15px;
    width: 200px;
    height: auto;
}

.main__nav__items {
    list-style: none;
    display: flex;
    margin-top: 10px;
}

.main__nav__items li {
    font-size: 105%;
    text-transform: uppercase;
}

.main__nav__items li:last-child {
    margin-right: 40px;
}

.main__nav__items li a:link,
.main__nav__items li a:visited {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.main__nav__items li a:hover,
.main__nav__items li a:active {
    border-bottom: 2px solid #b60202f3;
}

/* Main page components */
.main__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.75;
}

.main__page__text {
    color: #fff;
    width: 60%;
    text-align: center;
    margin-bottom: 35px;
}

.main__page__form {
    display: flex;
    align-content: center;
    width: 45%;
}

.main__page__form input {
    width: 100%;
    border-radius: 10px;
    padding: 0 10px;
    font-family: inherit;
    font-size: 90%;
    font-weight: 100;
}

.search__btn {
    font-size: 80%;
    font-weight: 300;
    margin-left: -30px;
    border-radius: 10px;
    padding: 5px 20px;
    background: linear-gradient(to right, #e71515, #180404);
    border: 1px solid #b60202f3;
    cursor: pointer;
    z-index: 1;
    color: #fff;
}

.search__btn i:hover {
    color: rgb(92, 91, 91);
}

/*-----------------------------------------------/
/ HOW IT WORKS 
/----------------------------------------------*/

.works__section {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 242, 242);
    align-items: center;
}

.works__content {
    display: flex;
    margin-top: 80px;
    align-items: center;
}

.works__content__div {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    opacity: 0;
}

.works__content__div.animated {
    opacity: 1;
}

.works__content__div div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.works__content__div div i {
    padding: 5px 10px;
    font-size: 250%;
    color: #e71515;
}

.works__content__div div p {
    width: 100%;
    color: #180404;
    text-align: center;
}

.works__content img {
    width: auto;
    height: 300px;
}

/*-----------------------------------------------/
/ WORLD COMPETITIONS
/----------------------------------------------*/

.world__comps__main__div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.world__comps__content {
    position: relative;
    display: flex;
    justify-content: center;
}

.world__comps__content img {
    width: 70%;
    padding: 40px 0;
}

.world__comps__content i {
    position: absolute;
    z-index: 1;
    color: #e71515;
    font-size: 150%;
    opacity: 0;
}

.world__comps__content i.animated {
    opacity: 1;
}

.world__comps__content i:nth-of-type(1) {
    top: 32%;
}

.world__comps__content i:nth-of-type(2) {
    top: 34%;
    right: 70%;
}

.world__comps__content i:nth-of-type(3) {
    top: 40%;
    left: 65%;
}

.world__comps__content i:nth-of-type(4) {
    bottom: 28%;
    right: 61%;
}

.world__comps__content i:nth-of-type(5) {
    bottom: 30%;
    right: 46%;
}

.world__comps__content i:nth-of-type(6) {
    bottom: 22%;
    right: 25%;
}

.world__comps__content__text {
    padding-top: 30px;
    font-size: 150%;
    font-weight: 400;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 5rem;
    font-size: 40%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*-----------------------------------------------/
/ PLAYER DETAILS 
/----------------------------------------------*/

.players__details__section {
    background-color: rgb(248, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players__details__main {
    display: flex;
    align-items: center;
    width: 400px;
}

.players__details__main__div {
    margin-top: 0.75rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.players__details__main__div img{
    flex: 0.5;
    width: auto;
    height: 220px;
    border-radius: 30%;
    padding: 10px;
}

.players__details__main__text {
    padding-top: 30px;
    font-size: 140%;
    font-weight: 200;
    text-align: center;
}

.players__info__div {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.player__info__internal {
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.player__info__internal i {
    color: #e71515;
}

.player__info__internal p {
    font-weight: 400;
}

/** Carousel Elements **/
.players__details__main__div__carousel_el {
    display: flex;
    align-items: center;
}

.carousel__arrow {
    font-size: 350%;
    color: rgb(168, 168, 168);
    margin-bottom: 60%;
}

.carousel__arrow:hover {
    color: #e71515a8;
    cursor: pointer;
}

/*-----------------------------------------------/
/ CUSTOMER REVIEWS 
/----------------------------------------------*/

.customers__main__div {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.767)), url('../img//back-3.jpg');
    background-size: cover;
    height: 45vh;
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
    margin-top: 2rem;
}

.customer__review__container  {
    margin: 2rem 1rem;
}

.customer__review__container blockquote {
    color: #fff;
	display: flex;
	flex-direction: column;
	align-content: center;
    text-align: left;
}

.customer__review__container blockquote::before {
    content: "\201C";
    font-size: 400%;
    display: flex;
    margin-bottom: -3rem;
}

.customer__review__ref {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.customer__review__ref img {
    border-radius: 50%;
    width: 60px
}

.customer__review__ref cite {
	color: #fff;
    font-size: 90%;
    padding: 0 1rem;
}
