/***
* MAIN PAGE CSS ELEMENTS
*/

/*-----------------------------------------------/
/ HEADER COMPONENTS
/----------------------------------------------*/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.801)), to(rgba(0, 0, 0, 0.767))), url('../img/back-2.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.767)), url('../img/back-2.jpg');
    background-size: cover;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-attachment: fixed;
}

/* Nav bar components */

.main__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main__nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.main__nav__logo img {
    padding: 0 15px;
    width: 200px;
    height: auto;
}

/* Main page components */
.main__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0.75;
        -ms-flex: 0.75;
            flex: 0.75;
}

.main__nav__items li:nth-child(4) a:link,
.main__nav__items li:nth-child(4) a:visited  {
    border: 1px solid transparent;
    padding: 0 0.7rem;
    border-radius: 10%;
    background: #e74c3c;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.main__nav__items li:nth-child(4) a:hover,
.main__nav__items li:nth-child(4) a:active{
    color: #5c2626;
}

.main__nav__items li:nth-child(5) a:link,
.main__nav__items li:nth-child(5) a:visited {
    border: 1px solid #e71515a8;
    padding: 0 0.8rem;
    border-radius: 10%;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.main__nav__items li:nth-child(5) a:hover,
.main__nav__items li:nth-child(5) a:active{
    background: #e74c3c;
}

.main__page__text {
    color: #fff;
    width: 60%;
    text-align: center;
    margin-bottom: 35px;
}

.main__page__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    width: 40%;
    background: #fff;
}

.main__page__form input {
    width: 100%;
    padding: 0 10px;
    font-family: inherit;
    font-size: 90%;
    font-weight: 100;
    border: transparent;
}

.dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 2vh;
    padding: 0 0.5rem;
    transition: display 0.3s;
}

.dropbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 100%;
    border: none;
}

.dropbtn i:before {
    padding: 0.20rem 0.50rem;
}

.dropbtn i {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 0.2rem;
    background: rgba(189, 186, 186, 0.884);
    font-size: 90%;
}

.dropdown-content {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #ffF;
    z-index: 1;
    transition: display 0.3s;
}

.dropdown-content a {
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    color: #000;
    font-weight: 400;
    font-size: 80%;
    transition: background 0.4s;
}

.dropdown-content a:hover {
    background: #e74c3c;
}

.dropdown:hover .dropdown-content {display: -webkit-box;display: -ms-flexbox;display: flex;}

.search__btn {
    font-size: 80%;
    font-weight: 300;
    padding: 5px 20px;
    background: #e74c3c;
    cursor: pointer;
    z-index: 1;
    color: #fff;    
    border: 1px solid #fff;
    transition: color 0.3s;
}

.search__btn i:hover {
    color: rgb(59, 58, 58);
}

/*-----------------------------------------------/
/ HOW IT WORKS 
/----------------------------------------------*/

.works__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgb(248, 242, 242);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.works__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.works__content__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 2rem;
    opacity: 0;
}

.works__content__div.animated {
    opacity: 1;
}

.works__content__div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
}

.works__content__div div i {
    padding: 5px 10px;
    font-size: 250%;
    color: #e74c3c;
}

.works__content__div div p {
    width: 100%;
    color: #180404;
    text-align: center;
}

.works__content img {
    width: auto;
    height: 300px;
}

/*-----------------------------------------------/
/ WORLD COMPETITIONS
/----------------------------------------------*/

.world__comps__main__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.world__comps__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.world__comps__content img {
    width: 70%;
    padding: 40px 0;
}

.world__comps__content i {
    position: absolute;
    z-index: 1;
    color: #e74c3c;
    font-size: 150%;
    opacity: 0;
}

.world__comps__content i.animated {
    opacity: 1;
}

.world__comps__content i:nth-of-type(1) {
    top: 32%;
}

.world__comps__content i:nth-of-type(2) {
    top: 34%;
    right: 70%;
}

.world__comps__content i:nth-of-type(3) {
    top: 40%;
    left: 65%;
}

.world__comps__content i:nth-of-type(4) {
    bottom: 28%;
    right: 61%;
}

.world__comps__content i:nth-of-type(5) {
    bottom: 30%;
    right: 46%;
}

.world__comps__content i:nth-of-type(6) {
    bottom: 22%;
    right: 25%;
}

.world__comps__content__text {
    padding-top: 30px;
    font-size: 150%;
    font-weight: 400;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 5rem;
    font-size: 40%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*-----------------------------------------------/
/ PLAYER DETAILS 
/----------------------------------------------*/

.players__details__section {
    background-color: rgb(248, 245, 245);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.players__details__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;
}

.players__details__main__div {
    margin-top: 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.players__details__main__div img{
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    width: auto;
    height: 220px;
    border-radius: 30%;
    padding: 10px;
}

.players__details__main__text {
    padding-top: 30px;
    font-size: 140%;
    font-weight: 200;
    text-align: center;
}

.players__info__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
}

.player__info__internal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 3rem;
}

.player__info__internal i {
    color: #e74c3c;
}

.player__info__internal p {
    font-weight: 400;
}

/** Carousel Elements **/
.players__details__main__div__carousel_el {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.carousel__arrow {
    font-size: 350%;
    color: rgb(168, 168, 168);
    margin-bottom: 60%;
}

.carousel__arrow:hover {
    color: #e71515a8;
    cursor: pointer;
}

/*-----------------------------------------------/
/ CUSTOMER REVIEWS 
/----------------------------------------------*/
.customers__reviews {
    padding-left: 0;
    padding-right: 0;
    background-image:  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.801)), to(rgba(0, 0, 0, 0.767))), url('../img//back-3.jpg');
    background-image:  linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.767)), url('../img//back-3.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100px
}

.customers__reviews h2, 
.customers__reviews i {
    color: #fff;
}

.customers__main__div {
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-attachment: fixed;
    margin-top: 2rem;
    padding: 0 150px;
}

.customer__review__container  {
    margin: 2rem 1rem;
}

.customer__review__container blockquote {
    color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-line-pack: center;
	    align-content: center;
    text-align: left;
}

.customer__review__container blockquote::before {
    content: "\201C";
    font-size: 400%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -3rem;
}

.customer__review__ref {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.customer__review__ref img {
    border-radius: 50%;
    width: 60px
}

.customer__review__ref cite {
	color: #fff;
    font-size: 90%;
    padding: 0 1rem;
}

/*----------------------------------------------------- */
/* FOOTER */
/*----------------------------------------------------- */

footer {
    background-color: #fff;
    padding: 40px;
    font-size: 75%;
    background: rgb(26, 25, 25);
}

.footer__main {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.footer__main__nav {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.footer__main__nav__items {
    display: flex;
    flex: 0.75;
    padding-left: 13rem;
}

.footer__main__nav__items p {
    color: #fff;
    font-size: 110%;
    transition: color 0.3s;
    cursor: pointer;
}

.footer__main__nav__items p:hover {
    color: #e74c3c;
}

.footer__main__nav__icons {
    display: flex;
}

.footer__main__nav__icons i {
    padding: 0 10px;
    font-size: 150%;
    transition: color 0.3s;
    color: rgb(170, 170, 170);
}

.footer__main__nav__icons a:hover:nth-child(1) i {
    color: #e74c3c;
}

.footer__main__nav__icons a:hover:nth-child(2) i {
    color: #2980b9;
}

.footer__main__nav__icons a:hover:nth-child(3) i {
    color: #3498db;
}

.footer__main__nav__icons a:hover:nth-child(4) i {
    color: #9b59b6;
}

.footer__main__nav__icons a:hover:nth-child(5) i {
    color: #fff;
}

.footer__text {
    text-align: center;
    color: #ffF;
    font-size: 110%;
}